@use 'variables' as *;

@mixin background-gradient {
    background: radial-gradient(circle, #731018 60%, #071726 100%);
    border: 1px solid rgba(255, 255, 255, 0);
}

@mixin background-glass {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@mixin btn-cta {
    display: inline-block;
    padding: 10px 20px;
    color: $main-color;
    border-radius: 30px;
    border: none;
    font-family: $font-1;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

@mixin appear-scale($duration: 0.6s, $delay: 0s, $easing: ease-in-out) {
    transform: scale(0);
    transition: transform $duration $easing;
    will-change: transform;

    &.visible {
        animation: scaleIn $duration $easing $delay forwards;
    }
}

@mixin appear-from-top-left($duration: 1s, $delay: 0s, $easing: ease-in-out) {
    transform: scale(0);
    transform-origin: 100px 10px;
    will-change: transform;
    transition: transform $duration $easing;

    &.visible {
        transform: scale(1);
    }
}

@mixin slide-up($duration: 0.8s, $easing: ease-in-out, $delay: 0s) {
    position: relative;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition: transform $duration $easing $delay, opacity $duration $easing $delay;
    will-change: transform, opacity;

    &.visible {
        transform: translateY(0);
        opacity: 1;
    }

    @media (max-width: 1500px) {
        transform: translateY(0);
        opacity: 1;
        transition: none;
    }
}