$font-1: EB Garamond;
$main-color: #731018;
$secondary-color: #071726;
$text-color: #f2f2f2;
$background-1: rgba(20, 20, 20, 0.7);
$background-2: rgba(115, 16, 24, 0.5);
$background-3: rgba(115, 16, 24);
