@use 'variables' as *;
@use 'global';

.hero {
    @include background-glass();
    width: 70%;
    margin: 50px auto;
    padding: 0 40px;
    text-align: center;
    color: $text-color;
    border-radius: 50px;

    & h1 {
         @media (max-width: 450px) {
            font-size: 42px;
        }
    }

    & p {
        margin: 0 20px;
    }

    &__btn {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 40px auto;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 20px;
            width: fit-content;
        }

        &--cta {
            @include btn-cta();
            background-color: $text-color;
            font-size: 25px;

            &:hover {
                color: $text-color;
                background-color: $background-2;
                transform: scale(1.1);
            }

            @media (max-width: 450px) {
                font-size: 22px;
            }
        }
    }
}

.prestas {
    color: $text-color;
    text-align: center;
    @include background-gradient();

    & p {
        width: 80%;
        margin: 50px auto;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;

        &--card {
            width: 340px;
            height: 520px;
            padding: 20px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $background-1;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;

            @media (max-width: 420px) {
                width: 270px;
                padding: 20px 10px;
            }

            & img {
                border-radius: 40px;
            }

            & h3 {
                font-size: 35px;
                margin-bottom: 0;
            }

            & p {
                font-size: 20px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

ul {
    list-style: none;
    padding: 0;
    line-height: 25px;
}

.about {
    @include background-gradient();
    color: $text-color;
    text-align: center;

    & h2 {
        padding-top: 40px
    }

    & p {
        width: 80%;
        margin: 30px auto;
        padding-bottom: 30px
    }
}

.contact {
    @include background-glass();
    text-align: center;
    width: 70%;
    margin: 30px auto;
    padding: 0 40px;
    border-radius: 50px;
    color: $text-color;

    & h2 {
        padding-bottom: 10px;
    }

    & a {
        @include btn-cta();
        background-color: $text-color;
        margin: 30px;

        &:hover {
            transform: scale(1.1);
            background-color: $background-3;
            color: $text-color;
        }
    }
}