@use 'variables' as *;
@use 'mixins' as *;
@use 'global';

.intro {
    @include background-glass();
    width: 80%;
    margin: 50px auto;
    padding: 0 40px;
    color: $text-color;
    text-align: center;
    border-radius: 50px;

    @media (max-width: 600px) {
        width: 70%;
    }

    & h1 {
        @media (max-width: 650px) {
            font-size: 45px;
        } 
    }
}

.contact {
    @include background-gradient();
    text-align: center;
    color: $text-color;

    &__btn {
        @include btn-cta();
        background-color: $text-color;
        margin-bottom: 20px;

        &:hover {
            transform: scale(1.1);
            background-color: $main-color;
            color: $text-color;
        }
    }
}